html,
body {
	margin: 0;
	padding: 0;
}
body {
	color: #292929;
	font: 90% Roboto, Arial, sans-serif;
	font-weight: 300;
}
div#header {
	position: relative;
}
div#header h1 {
	height: 80px;
	line-height: 80px;
	margin: 0;
	padding-left: 10px;
	background: green;
	color: white;
	margin-left: 5%;
}
div#header nav {
	position: relative;
	display: flex;
	list-style: none;
	margin: 0;
	padding-left: 10px;
	background: green;
	color: white;
}
div#header li {
	align-items: center;
	justify-content: center;
	margin-top: 28px;
	padding-left: 10%;
	color: white;
}
div#header li a {
	color: #fff;
	text-decoration: none;
}
div#navigation img {
	width: 30rem;
	height: 22rem;
	margin: 6px;
}
div#extra {
	display: flex;
	padding: 0px;
	margin: auto;
}
div#extra #card {
	width: 20rem;
	height: 13rem;
	margin: 5%;
	padding: 5px;
	border: 2px solid #292929;
}
div#extra #card button {
	height: 50px;
	width: 10rem;
	background-color: rgb(8, 62, 8);
	color: #fff;
	border: none;
	position: absolute;
	bottom: 4px;
	border-radius: 10px;
	margin: 20px;
}
div#footer {
	background: #42444e;
	color: #fff;
}
div#footer p {
	padding: 20px 10px;
	text-align: center;
}
div#wrapper {
	float: left;
	width: 60;
	margin-left: 5%;
}
div#wrapper#content {
	text-align: center;
}
div#content h1 {
	font-size: 50px;
	font-weight: 800;
	color: rgb(11, 49, 11);
}
div#content button {
	height: 50px;
	width: 10rem;
	background-color: rgb(8, 62, 8);
	color: #fff;
	border: none;
	border-radius: 10px;
	margin: 20px;
}
div#navigation {
	float: right;
	width: 40%;
}
div#extra {
	clear: both;
	width: 100%;
}

